<%= form_for(@txt_file) do |f| %>
  <% if @txt_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@txt_file.errors.count, "error") %> prohibited this txt_file from being saved:</h2>

      <ul>
      <% @txt_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit"Upload" %>
  </div>
<% end %>
