<% require 'json' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @company.link %>
</p>

<p>
  <strong>Emails:</strong>
<pre>
  <%= JSON.pretty_generate(@company.emails) %>
</pre>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Social:</strong>
<pre>
  <%= JSON.pretty_generate(@company.social) %>
</pre>
</p>

<p>
  <strong>Data:</strong>
  <pre>
  <%= JSON.pretty_generate(@company.data) %>
</pre>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>